%h1 Create your own countdown

%form{:method => "post", :action => "/create"}
  %input{:name => "description", :type => "text", :size => "40"}
  %input{:name => "end-date", :type => "datetime", :size => "30"}
  %input{:type => "submit", :value => "Generate"}